In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
from scipy.stats import chi2_contingency
from sklearn.model_selection import train_test_split

import re

## Importing Data

In [2]:
df = pd.read_csv("../data/train.csv")

In [3]:
df.head(4)

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1

## Column Description

UniqueID : Identifier for customers

loan_default:Payment default in the first EMI on due date

disbursed_amount:Amount of Loan disbursed

asset_cost:Cost of the Asset

ltv:Loan to Value of the asset

branch_id:Branch where the loan was disbursed

supplier_id:Vehicle Dealer where the loan was disbursed

manufacturer_id:Vehicle manufacturer(Hero, Honda, TVS etc.)

Current_pincode:Current pincode of the customer

Date.of.Birth:Date of birth of the customer

Employment.Type:Employment Type of the customer (Salaried/Self Employed)

DisbursalDate:Date of disbursement

State_ID:State of disbursement

Employee_code_ID:Employee of the organization who logged the disbursement

MobileNo_Avl_Flag:if Mobile no. was shared by the customer then flagged as 1

Aadhar_flag:if aadhar was shared by the customer then flagged as 1

PAN_flag:if pan was shared by the customer then flagged as 1

VoterID_flag:if voter was shared by the customer then flagged as 1

Driving_flag:if DL was shared by the customer then flagged as 1

Passport_flag:if passport was shared by the customer then flagged as 1

PERFORM_CNS.SCORE:Bureau Score

PERFORM_CNS.SCORE.DESCRIPTION:Bureau score description

PRI.NO.OF.ACCTS:count of total loans taken by the customer at the time of disbursement
Primary accounts are those which the customer has taken for his personal use

PRI.ACTIVE.ACCTS:count of active loans taken by the customer at the time of disbursement

PRI.OVERDUE.ACCTS:count of default accounts at the time of disbursement

PRI.CURRENT.BALANCE:total Principal outstanding amount of the active loans at the time of disbursement

PRI.SANCTIONED.AMOUNT:total amount that was sanctioned for all the loans at the time of disbursement

PRI.DISBURSED.AMOUNT:total amount that was disbursed for all the loans at the time of disbursement

SEC.NO.OF.ACCTS:count of total loans taken by the customer at the time of disbursement
Secondary accounts are those which the customer act as a co-applicant or gaurantor

SEC.ACTIVE.ACCTS:count of active loans taken by the customer at the time of disbursement

SEC.OVERDUE.ACCTS:count of default accounts at the time of disbursement

SEC.CURRENT.BALANCE:total Principal outstanding amount of the active loans at the time of disbursement

SEC.SANCTIONED.AMOUNT:total amount that was sanctioned for all the loans at the time of disbursement

SEC.DISBURSED.AMOUNT:total amount that was disbursed for all the loans at the time of disbursement

PRIMARY.INSTAL.AMT:EMI Amount of the primary loan

SEC.INSTAL.AMT:EMI Amount of the secondary loan

NEW.ACCTS.IN.LAST.SIX.MONTHS:New loans taken by the customer in last 6 months before the disbursment

DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS:Loans defaulted in the last 6 months

AVERAGE.ACCT.AGE:Average loan tenure

CREDIT.HISTORY:LENGTH:Time since first loan

NO.OF_INQUIRIES:Enquries done by the customer for loans

## EDA

In [4]:
print(f"Nos of rows: {df.shape[0]}, Nos of columns: {df.shape[1]}")

Nos of rows: 233154, Nos of columns: 41

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UniqueID                             233154 non-null  int64
 1   disbursed_amount                     233154 non-null  int64
 2   asset_cost                           233154 non-null  int64
 3   ltv                                  233154 non-null  float64
 4   branch_id                            233154 non-null  int64
 5   supplier_id                          233154 non-null  int64
 6   manufacturer_id                      233154 non-null  int64
 7   Current_pincode_ID                   233154 non-null  int64
 8   Date.of.Birth                        233154 non-null  object
 9   Employment.Type                      225493 non-null  object
 10  DisbursalDate                        233154 non-null  object
 11  State_ID                             233154 non-null  int64
 12  Employee_code_ID                     233154 non-null  int64
 13  MobileNo_Avl_Flag                    233154 non-null  int64
 14  Aadhar_flag                          233154 non-null  int64
 15  PAN_flag                             233154 non-null  int64
 16  VoterID_flag                         233154 non-null  int64
 17  Driving_flag                         233154 non-null  int64
 18  Passport_flag                        233154 non-null  int64
 19  PERFORM_CNS.SCORE                    233154 non-null  int64
 20  PERFORM_CNS.SCORE.DESCRIPTION        233154 non-null  object
 21  PRI.NO.OF.ACCTS                      233154 non-null  int64
 22  PRI.ACTIVE.ACCTS                     233154 non-null  int64
 23  PRI.OVERDUE.ACCTS                    233154 non-null  int64
 24  PRI.CURRENT.BALANCE                  233154 non-null  int64
 25  PRI.SANCTIONED.AMOUNT                233154 non-null  int64
 26  PRI.DISBURSED.AMOUNT                 233154 non-null  int64
 27  SEC.NO.OF.ACCTS                      233154 non-null  int64
 28  SEC.ACTIVE.ACCTS                     233154 non-null  int64
 29  SEC.OVERDUE.ACCTS                    233154 non-null  int64
 30  SEC.CURRENT.BALANCE                  233154 non-null  int64
 31  SEC.SANCTIONED.AMOUNT                233154 non-null  int64
 32  SEC.DISBURSED.AMOUNT                 233154 non-null  int64
 33  PRIMARY.INSTAL.AMT                   233154 non-null  int64
 34  SEC.INSTAL.AMT                       233154 non-null  int64
 35  NEW.ACCTS.IN.LAST.SIX.MONTHS         233154 non-null  int64
 36  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  233154 non-null  int64
 37  AVERAGE.ACCT.AGE                     233154 non-null  object
 38  CREDIT.HISTORY.LENGTH                233154 non-null  object
 39  NO.OF_INQUIRIES                      233154 non-null  int64
 40  loan_default                         233154 non-null  int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
UniqueID,233154.0,535917.573376,6.831569e+04,417428.00,476786.25,535978.5,595039.75,6.710840e+05
disbursed_amount,233154.0,54356.993528,1.297131e+04,13320.00,47145.00,53803.0,60413.00,9.905720e+05
asset_cost,233154.0,75865.068144,1.894478e+04,37000.00,65717.00,70946.0,79201.75,1.628992e+06
ltv,233154.0,74.746530,1.145664e+01,10.03,68.88,76.8,83.67,9.500000e+01
branch_id,233154.0,72.936094,6.983499e+01,1.00,14.00,61.0,130.00,2.610000e+02
supplier_id,233154.0,19638.635035,3.491950e+03,10524.00,16535.00,20333.0,23000.00,2.480300e+04
manufacturer_id,233154.0,69.028054,2.214130e+01,45.00,48.00,86.0,86.00,1.560000e+02
Current_pincode_ID,233154.0,3396.880247,2.238148e+03,1.00,1511.00,2970.0,5677.00,7.345000e+03
State_ID,233154.0,7.262243,4.482230e+00,1.00,4.00,6.0,10.00,2.200000e+01
Employee_code_ID,233154.0,1549.477148,9.752613e+02,1.00,713.00,1451.0,2362.00,3.795000e+03
MobileNo_Avl_Flag,233154.0,1.000000,0.000000e+00,1.00,1.00,1.0,1.00,1.000000e+00
Aadhar_flag,233154.0,0.840320,3.663097e-01,0.00,1.00,1.0,1.00,1.000000e+00
PAN_flag,233154.0,0.075577,2.643201e-01,0.00,0.00,0.0,0.00,1.000000e+00
VoterID_flag,233154.0,0.144943,3.520439e-01,0.00,0.00,0.0,0.00,1.000000e+00
Driving_flag,233154.0,0.023242,1.506720e-01,0.00,0.00,0.0,0.00,1.000000e+00
Passport_flag,233154.0,0.002127,4.607421e-02,0.00,0.00,0.0,0.00,1.000000e+00
PERFORM_CNS.SCORE,233154.0,289.462994,3.383748e+02,0.00,0.00,0.0,678.00,8.900000e+02
PRI.NO.OF.ACCTS,233154.0,2.440636,5.217233e+00,0.00,0.00,0.0,3.00,4.530000e+02
PRI.ACTIVE.ACCTS,233154.0,1.039896,1.941496e+00,0.00,0.00,0.0,1.00,1.440000e+02
PRI.OVERDUE.ACCTS,233154.0,0.156549,5.487867e-01,0.00,0.00,0.0,0.00,2.500000e+01
PRI.CURRENT.BALANCE,233154.0,165900.076936,9.422736e+05,-6678296.00,0.00,0.0,35006.50,9.652492e+07
PRI.SANCTIONED.AMOUNT,233154.0,218503.855323,2.374794e+06,0.00,0.00,0.0,62500.00,1.000000e+09
PRI.DISBURSED.AMOUNT,233154.0,218065.898655,2.377744e+06,0.00,0.00,0.0,60800.00,1.000000e+09
SEC.NO.OF.ACCTS,233154.0,0.059081,6.267946e-01,0.00,0.00,0.0,0.00,5.200000e+01
SEC.ACTIVE.ACCTS,233154.0,0.027703,3.160566e-01,0.00,0.00,0.0,0.00,3.600000e+01
SEC.OVERDUE.ACCTS,233154.0,0.007244,1.110789e-01,0.00,0.00,0.0,0.00,8.000000e+00
SEC.CURRENT.BALANCE,233154.0,5427.792819,1.702370e+05,-574647.00,0.00,0.0,0.00,3.603285e+07
SEC.SANCTIONED.AMOUNT,233154.0,7295.923347,1.831560e+05,0.00,0.00,0.0,0.00,3.000000e+07
SEC.DISBURSED.AMOUNT,233154.0,7179.997873,1.825925e+05,0.00,0.00,0.0,0.00,3.000000e+07
PRIMARY.INSTAL.AMT,233154.0,13105.481720,1.513679e+05,0.00,0.00,0.0,1999.00,2.564281e+07
SEC.INSTAL.AMT,233154.0,323.268449,1.555369e+04,0.00,0.00,0.0,0.00,4.170901e+06
NEW.ACCTS.IN.LAST.SIX.MONTHS,233154.0,0.381833,9.551067e-01,0.00,0.00,0.0,0.00,3.500000e+01
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,233154.0,0.097481,3.844390e-01,0.00,0.00,0.0,0.00,2.000000e+01
NO.OF_INQUIRIES,233154.0,0.206615,7.064977e-01,0.00,0.00,0.0,0.00,3.600000e+01
loan_default,233154.0,0.217071,4.122523e-01,0.00,0.00,0.0,0.00,1.000000e+00

## Segregate into Numeric and Categorical Columns

In [7]:
def separate_features(df, categorical_threshold=10):
    """
    function to return list of numeric and categorical columns from dataframe
    based on dtype as well as nos of unique values in a column.
    Eg: State ID or flag columns
    """
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    
    # Identify categorical columns (including those disguised as numeric)
    categorical_cols = []
    extra_cols = []
    
    for col in df.columns:
        if col in numeric_cols:
            if df[col].nunique() <= categorical_threshold:
                categorical_cols.append(col)
        else:
            # For non-numeric columns, check cardinality
            if df[col].nunique() > categorical_threshold:
                extra_cols.append(col)
            else:
                categorical_cols.append(col)
    
    # Create DataFrames
    numeric_cols = list(set(numeric_cols) - set(categorical_cols) - set(extra_cols))
        
    return numeric_cols, categorical_cols, extra_cols

In [8]:
numeric_cols, categorical_cols, extra_cols = separate_features(df,categorical_threshold = 25)

In [9]:
print("numerical columns: ",numeric_cols)
print('-'*100)
print("Categorical columns: ",categorical_cols)
print('-'*100)
print("Extra columns: ",extra_cols)

numerical columns:  ['PRI.CURRENT.BALANCE', 'SEC.CURRENT.BALANCE', 'UniqueID', 'SEC.SANCTIONED.AMOUNT', 'supplier_id', 'PRI.SANCTIONED.AMOUNT', 'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'asset_cost', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS', 'SEC.DISBURSED.AMOUNT', 'Employee_code_ID', 'PRIMARY.INSTAL.AMT', 'ltv', 'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'Current_pincode_ID', 'branch_id', 'SEC.INSTAL.AMT', 'disbursed_amount', 'PERFORM_CNS.SCORE']
----------------------------------------------------------------------------------------------------
Categorical columns:  ['manufacturer_id', 'Employment.Type', 'State_ID', 'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag', 'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.OVERDUE.ACCTS', 'SEC.ACTIVE.ACCTS', 'SEC.OVERDUE.ACCTS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS', 'NO.OF_INQUIRIES', 'loan_default']
----------------------------------------------------------------------------------------------------
Extra columns:  ['Date.of.Birth', 'DisbursalDate', 'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH']

## Target Column

In [10]:
df['loan_default'].value_counts(normalize=True)*100

loan_default
0    78.292888
1    21.707112
Name: proportion, dtype: float64

#### So, we can say that it is an imbalanced dataset

## Bivariate Analysis of Categorical Features with respect to Target

In [11]:
def bivariate_analysis(df, feature, target):
    """
    Perform bivariate analysis of a categorical feature with respect to a binary target.
    
    Parameters:
    df (pandas.DataFrame): The dataframe containing the data.
    feature (str): The name of the categorical feature column.
    target (str): The name of the binary target column.
    
    Returns:
    tuple: (normalized_crosstab, cramers_v)
        - normalized_crosstab: A pandas DataFrame with the normalized cross-tabulation.
        - cramers_v: The Cramer's V statistic for strength of association.
    """
    
    # Create the cross-tabulation
    crosstab = pd.crosstab(df[feature], df[target], normalize='index').sort_values(by = 1,ascending = False)
    
    # Calculate Cramer's V
    confusion_matrix = pd.crosstab(df[feature], df[target])
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    min_dim = min(confusion_matrix.shape) - 1
    cramers_v = np.sqrt(chi2 / (n * min_dim))
    
    return crosstab, cramers_v

In [12]:
result, association = bivariate_analysis(df, 'Employment.Type', 'loan_default')

print("Normalized Cross-tabulation:")
print(result)
print(f"\nCramer's V: {association:.3f}")

Normalized Cross-tabulation:
loan_default            0         1
Employment.Type
Self employed    0.772343  0.227657
Salaried         0.796542  0.203458

Cramer's V: 0.029

In [13]:
def overall_bivariate_analysis(df,cat_col_list,target_col):
    
    d = {}
    for col in cat_col_list:
        if col != target_col:
            result, association = bivariate_analysis(df, col, target_col)
            print(result)
            print('-'*50)
            d[col] = np.round(association,3)
    
    print("Cramer's V Strength of Association")
    print(pd.Series(d).sort_values())

In [14]:
overall_bivariate_analysis(df,cat_col_list = categorical_cols,target_col = 'loan_default')

loan_default            0         1
manufacturer_id
153              0.666667  0.333333
48               0.727469  0.272531
45               0.771501  0.228499
120              0.779250  0.220750
49               0.781213  0.218787
67               0.782536  0.217464
51               0.792053  0.207947
86               0.795406  0.204594
145              0.799486  0.200514
152              1.000000  0.000000
156              1.000000  0.000000
--------------------------------------------------
loan_default            0         1
Employment.Type
Self employed    0.772343  0.227657
Salaried         0.796542  0.203458
--------------------------------------------------
loan_default         0         1
State_ID
13            0.693413  0.306587
14            0.724134  0.275866
2             0.728606  0.271394
12            0.734442  0.265558
17            0.754197  0.245803
8             0.770515  0.229485
18            0.779933  0.220067
9             0.782050  0.217950
15            0.788473  0.211527
4             0.792155  0.207845
6             0.794359  0.205641
11            0.795715  0.204285
7             0.798261  0.201739
5             0.801218  0.198782
21            0.801282  0.198718
3             0.813809  0.186191
16            0.816387  0.183613
19            0.819324  0.180676
1             0.822851  0.177149
10            0.824411  0.175589
20            0.827027  0.172973
22            0.881579  0.118421
--------------------------------------------------
loan_default              0         1
MobileNo_Avl_Flag
1                  0.782929  0.217071
--------------------------------------------------
loan_default         0         1
Aadhar_flag
0             0.743594  0.256406
1             0.790403  0.209597
--------------------------------------------------
loan_default         0         1
PAN_flag
1             0.779978  0.220022
0             0.783170  0.216830
--------------------------------------------------
loan_default         0         1
VoterID_flag
1             0.739125  0.260875
0             0.790354  0.209646
--------------------------------------------------
loan_default         0         1
Driving_flag
0             0.782559  0.217441
1             0.798487  0.201513
--------------------------------------------------
loan_default          0         1
Passport_flag
0              0.782784  0.217216
1              0.850806  0.149194
--------------------------------------------------

C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\2963784454.py:24: RuntimeWarning: invalid value encountered in divide
  cramers_v = np.sqrt(chi2 / (n * min_dim))

loan_default                                               0         1
PERFORM_CNS.SCORE.DESCRIPTION
M-Very High Risk                                    0.695419  0.304581
L-Very High Risk                                    0.719577  0.280423
K-High Risk                                         0.721880  0.278120
I-Medium Risk                                       0.727371  0.272629
Not Scored: Sufficient History Not Available        0.744223  0.255777
J-High Risk                                         0.747599  0.252401
H-Medium Risk                                       0.758133  0.241867
No Bureau History Available                         0.768687  0.231313
Not Scored: Only a Guarantor                        0.786885  0.213115
Not Scored: Not Enough Info available on the cu...  0.790305  0.209695
G-Low Risk                                          0.802909  0.197091
Not Scored: No Updates available in last 36 months  0.809648  0.190352
F-Low Risk                                          0.813789  0.186211
Not Scored: No Activity seen on the customer (I...  0.816291  0.183709
C-Very Low Risk                                     0.827361  0.172639
E-Low Risk                                          0.828208  0.171792
A-Very Low Risk                                     0.834254  0.165746
D-Very Low Risk                                     0.850414  0.149586
B-Very Low Risk                                     0.868710  0.131290
Not Scored: More than 50 active Accounts found      1.000000  0.000000
--------------------------------------------------
loan_default              0         1
PRI.OVERDUE.ACCTS
16                 0.000000  1.000000
18                 0.500000  0.500000
11                 0.666667  0.333333
3                  0.699667  0.300333
4                  0.702970  0.297030
5                  0.710843  0.289157
2                  0.711530  0.288470
1                  0.730496  0.269504
8                  0.740741  0.259259
12                 0.750000  0.250000
6                  0.770833  0.229167
0                  0.790177  0.209823
13                 0.800000  0.200000
14                 0.800000  0.200000
7                  0.815789  0.184211
10                 0.833333  0.166667
9                  0.840000  0.160000
15                 1.000000  0.000000
17                 1.000000  0.000000
19                 1.000000  0.000000
23                 1.000000  0.000000
25                 1.000000  0.000000
--------------------------------------------------
loan_default             0         1
SEC.ACTIVE.ACCTS
12                0.500000  0.500000
22                0.500000  0.500000
10                0.555556  0.444444
6                 0.750000  0.250000
15                0.750000  0.250000
5                 0.769231  0.230769
4                 0.775862  0.224138
0                 0.782473  0.217527
1                 0.805514  0.194486
3                 0.815385  0.184615
2                 0.839623  0.160377
7                 0.863636  0.136364
8                 0.882353  0.117647
9                 0.909091  0.090909
26                1.000000  0.000000
20                1.000000  0.000000
21                1.000000  0.000000
11                1.000000  0.000000
17                1.000000  0.000000
16                1.000000  0.000000
14                1.000000  0.000000
13                1.000000  0.000000
36                1.000000  0.000000
--------------------------------------------------
loan_default              0         1
SEC.OVERDUE.ACCTS
6                  0.666667  0.333333
2                  0.738095  0.261905
5                  0.750000  0.250000
3                  0.765957  0.234043
0                  0.782842  0.217158
1                  0.806023  0.193977
4                  0.842105  0.157895
7                  1.000000  0.000000
8                  1.000000  0.000000
--------------------------------------------------
loan_default                                0         1
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS
12                                   0.333333  0.666667
8                                    0.571429  0.428571
7                                    0.615385  0.384615
11                                   0.666667  0.333333
4                                    0.695652  0.304348
3                                    0.716946  0.283054
2                                    0.722267  0.277733
5                                    0.724138  0.275862
1                                    0.731009  0.268991
0                                    0.787485  0.212515
6                                    0.850000  0.150000
9                                    1.000000  0.000000
10                                   1.000000  0.000000
20                                   1.000000  0.000000
--------------------------------------------------
loan_default            0         1
NO.OF_INQUIRIES
13               0.333333  0.666667
15               0.428571  0.571429
18               0.500000  0.500000
11               0.533333  0.466667
8                0.580952  0.419048
7                0.592593  0.407407
5                0.618076  0.381924
6                0.619247  0.380753
19               0.666667  0.333333
10               0.676471  0.323529
9                0.681818  0.318182
4                0.692105  0.307895
3                0.707414  0.292586
12               0.714286  0.285714
2                0.724348  0.275652
14               0.750000  0.250000
1                0.755845  0.244155
0                0.789281  0.210719
17               1.000000  0.000000
16               1.000000  0.000000
20               1.000000  0.000000
22               1.000000  0.000000
23               1.000000  0.000000
28               1.000000  0.000000
36               1.000000  0.000000
--------------------------------------------------
Cramer's V Strength of Association
PAN_flag                               0.002
SEC.OVERDUE.ACCTS                      0.005
Driving_flag                           0.006
Passport_flag                          0.007
SEC.ACTIVE.ACCTS                       0.012
Employment.Type                        0.029
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0.039
Aadhar_flag                            0.042
VoterID_flag                           0.044
manufacturer_id                        0.045
NO.OF_INQUIRIES                        0.047
PRI.OVERDUE.ACCTS                      0.050
State_ID                               0.084
PERFORM_CNS.SCORE.DESCRIPTION          0.097
MobileNo_Avl_Flag                        NaN
dtype: float64

## Feature Engg of Datetime columns --> DOB and Disbursal date

In [15]:
# Direct vectorized conversion (faster for large datasets)
df['Date.of.Birth'] = pd.to_datetime(df['Date.of.Birth'], dayfirst=True, errors='coerce')
df['DisbursalDate'] = pd.to_datetime(df['DisbursalDate'], dayfirst=True, errors='coerce')

C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3702760870.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date.of.Birth'] = pd.to_datetime(df['Date.of.Birth'], dayfirst=True, errors='coerce')
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3702760870.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DisbursalDate'] = pd.to_datetime(df['DisbursalDate'], dayfirst=True, errors='coerce')

In [16]:
df['Date.of.Birth']

0        1984-01-01
1        1985-07-31
2        1985-08-24
3        1993-12-30
4        1977-12-09
            ...
233149   1988-08-01
233150   1988-12-05
233151   1976-06-01
233152   1994-03-26
233153   1984-02-18
Name: Date.of.Birth, Length: 233154, dtype: datetime64[ns]

In [17]:
df['BirthMonth'] = df['Date.of.Birth'].dt.strftime("%Y-%m")
df['DisbursalMonth'] = df['DisbursalDate'].dt.strftime("%Y-%m")

### Bivariate Analysis of Disbursal Month

In [18]:
result, association = bivariate_analysis(df,'DisbursalMonth','loan_default')

print("Normalized Cross-tabulation:")
print(result)
print(f"\nCramer's V: {association:.3f}")

Normalized Cross-tabulation:
loan_default           0         1
DisbursalMonth
2018-10         0.764853  0.235147
2018-08         0.784330  0.215670
2018-09         0.808124  0.191876

Cramer's V: 0.043

### Age Column

In [19]:
df['age'] = np.round((df['DisbursalDate'] - df['Date.of.Birth']).dt.days/365.25)

In [20]:
df['age']

0         35.0
1         33.0
2         33.0
3         25.0
4         41.0
          ...
233149    30.0
233150    30.0
233151    42.0
233152    25.0
233153    35.0
Name: age, Length: 233154, dtype: float64

### Create Avg Account Age and Credit history length to months

In [21]:
def convert_to_months(duration_str):
    # Use regular expressions to extract the years and months
    years_match = re.search(r'(\d+)\s*yrs?', duration_str)
    months_match = re.search(r'(\d+)\s*mon', duration_str)
    
    # Initialize years and months
    years = int(years_match.group(1)) if years_match else 0
    months = int(months_match.group(1)) if months_match else 0
    
    # Convert years to months and sum them
    total_months = (years * 12) + months
    return total_months

In [22]:
df['AVERAGE.ACCT.AGE'] = df['AVERAGE.ACCT.AGE'].apply(convert_to_months)
df['CREDIT.HISTORY.LENGTH'] = df['CREDIT.HISTORY.LENGTH'].apply(convert_to_months)

In [23]:
df['CREDIT.HISTORY.LENGTH']

0          0
1         23
2          0
3         15
4          0
          ..
233149    39
233150     6
233151     0
233152     0
233153     0
Name: CREDIT.HISTORY.LENGTH, Length: 233154, dtype: int64

## Binning of Numeric Variables

In [24]:
df.head(3)

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,BirthMonth,DisbursalMonth,age
0,420825,50578,58400,89.55,67,22807,45,1441,1984-01-01,Salaried,2018-08-03,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1984-01,2018-08,35.0
1,537409,47145,65550,73.23,67,22807,45,1502,1985-07-31,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,23,23,0,1,1985-07,2018-09,33.0
2,417566,53278,61360,89.63,67,22807,45,1497,1985-08-24,Self employed,2018-08-01,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-08,2018-08,33.0

In [25]:
numeric_cols = separate_features(df,categorical_threshold=5)[0]
numeric_cols = [col for col in numeric_cols if 'id' not in col.lower()]

In [26]:
numeric_cols

['PRI.OVERDUE.ACCTS',
 'PRI.CURRENT.BALANCE',
 'SEC.CURRENT.BALANCE',
 'SEC.SANCTIONED.AMOUNT',
 'NO.OF_INQUIRIES',
 'PRI.SANCTIONED.AMOUNT',
 'PRI.DISBURSED.AMOUNT',
 'SEC.NO.OF.ACCTS',
 'asset_cost',
 'PRI.NO.OF.ACCTS',
 'AVERAGE.ACCT.AGE',
 'PRI.ACTIVE.ACCTS',
 'SEC.DISBURSED.AMOUNT',
 'CREDIT.HISTORY.LENGTH',
 'PRIMARY.INSTAL.AMT',
 'ltv',
 'NEW.ACCTS.IN.LAST.SIX.MONTHS',
 'age',
 'SEC.OVERDUE.ACCTS',
 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
 'SEC.ACTIVE.ACCTS',
 'SEC.INSTAL.AMT',
 'disbursed_amount',
 'PERFORM_CNS.SCORE']

In [27]:
df[numeric_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
PRI.OVERDUE.ACCTS,233154.0,0.156549,5.487867e-01,0.00,0.00,0.0,0.00,2.500000e+01
PRI.CURRENT.BALANCE,233154.0,165900.076936,9.422736e+05,-6678296.00,0.00,0.0,35006.50,9.652492e+07
SEC.CURRENT.BALANCE,233154.0,5427.792819,1.702370e+05,-574647.00,0.00,0.0,0.00,3.603285e+07
SEC.SANCTIONED.AMOUNT,233154.0,7295.923347,1.831560e+05,0.00,0.00,0.0,0.00,3.000000e+07
NO.OF_INQUIRIES,233154.0,0.206615,7.064977e-01,0.00,0.00,0.0,0.00,3.600000e+01
PRI.SANCTIONED.AMOUNT,233154.0,218503.855323,2.374794e+06,0.00,0.00,0.0,62500.00,1.000000e+09
PRI.DISBURSED.AMOUNT,233154.0,218065.898655,2.377744e+06,0.00,0.00,0.0,60800.00,1.000000e+09
SEC.NO.OF.ACCTS,233154.0,0.059081,6.267946e-01,0.00,0.00,0.0,0.00,5.200000e+01
asset_cost,233154.0,75865.068144,1.894478e+04,37000.00,65717.00,70946.0,79201.75,1.628992e+06
PRI.NO.OF.ACCTS,233154.0,2.440636,5.217233e+00,0.00,0.00,0.0,3.00,4.530000e+02
AVERAGE.ACCT.AGE,233154.0,8.915764,1.510642e+01,0.00,0.00,0.0,13.00,3.690000e+02
PRI.ACTIVE.ACCTS,233154.0,1.039896,1.941496e+00,0.00,0.00,0.0,1.00,1.440000e+02
SEC.DISBURSED.AMOUNT,233154.0,7179.997873,1.825925e+05,0.00,0.00,0.0,0.00,3.000000e+07
CREDIT.HISTORY.LENGTH,233154.0,16.252404,2.858125e+01,0.00,0.00,0.0,24.00,4.680000e+02
PRIMARY.INSTAL.AMT,233154.0,13105.481720,1.513679e+05,0.00,0.00,0.0,1999.00,2.564281e+07
ltv,233154.0,74.746530,1.145664e+01,10.03,68.88,76.8,83.67,9.500000e+01
NEW.ACCTS.IN.LAST.SIX.MONTHS,233154.0,0.381833,9.551067e-01,0.00,0.00,0.0,0.00,3.500000e+01
age,233154.0,17.513986,3.082809e+01,-55.00,23.00,28.0,35.00,4.500000e+01
SEC.OVERDUE.ACCTS,233154.0,0.007244,1.110789e-01,0.00,0.00,0.0,0.00,8.000000e+00
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,233154.0,0.097481,3.844390e-01,0.00,0.00,0.0,0.00,2.000000e+01
SEC.ACTIVE.ACCTS,233154.0,0.027703,3.160566e-01,0.00,0.00,0.0,0.00,3.600000e+01
SEC.INSTAL.AMT,233154.0,323.268449,1.555369e+04,0.00,0.00,0.0,0.00,4.170901e+06
disbursed_amount,233154.0,54356.993528,1.297131e+04,13320.00,47145.00,53803.0,60413.00,9.905720e+05
PERFORM_CNS.SCORE,233154.0,289.462994,3.383748e+02,0.00,0.00,0.0,678.00,8.900000e+02

Note: Here age is negative due to pandas datetime conversion error,
Eg: 01-06-68 is converted to 1st June, 2068 instead of 1968  . 
So we need to add 100 to ages below 0 to fix that.

In [28]:
df['age'] = np.where(df['age']<0,df['age']+100,df['age'])

In [29]:
df['age'].describe()

count    233154.000000
mean         34.510907
std           9.834508
min          18.000000
25%          26.000000
50%          33.000000
75%          41.000000
max          69.000000
Name: age, dtype: float64

In [30]:
for col in numeric_cols:
    df[col] = df[col].astype('float64')
    num_bins = 5
    
    # Create a mask for values <= 0 and > 0,
    # since there are too many values<=0, this group treated separately
    # values greater than 0 are equal frequency binned
    mask_special = df[col] <= 0.0
    mask_positive = df[col] > 0.0
    
    # Initialize the binned column with NaN
    df[f'{col}_binned'] = np.nan
    
    # Assign 'Special' bin to values <= 0
    df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
    
    # Apply equal frequency binning to positive values
    df.loc[mask_positive, f'{col}_binned'] = pd.qcut(df.loc[mask_positive, col], q=num_bins, duplicates='drop')

C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'
C:\Users\abhid\AppData\Local\Temp\ipykernel_6224\3012144636.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Special (<= 0)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask_special, f'{col}_binned'] = 'Special (<= 0)'

In [31]:
df

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,BirthMonth,DisbursalMonth,age,PRI.OVERDUE.ACCTS_binned,PRI.CURRENT.BALANCE_binned,SEC.CURRENT.BALANCE_binned,SEC.SANCTIONED.AMOUNT_binned,NO.OF_INQUIRIES_binned,PRI.SANCTIONED.AMOUNT_binned,PRI.DISBURSED.AMOUNT_binned,SEC.NO.OF.ACCTS_binned,asset_cost_binned,PRI.NO.OF.ACCTS_binned,AVERAGE.ACCT.AGE_binned,PRI.ACTIVE.ACCTS_binned,SEC.DISBURSED.AMOUNT_binned,CREDIT.HISTORY.LENGTH_binned,PRIMARY.INSTAL.AMT_binned,ltv_binned,NEW.ACCTS.IN.LAST.SIX.MONTHS_binned,age_binned,SEC.OVERDUE.ACCTS_binned,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS_binned,SEC.ACTIVE.ACCTS_binned,SEC.INSTAL.AMT_binned,disbursed_amount_binned,PERFORM_CNS.SCORE_binned
0,420825,50578.0,58400.0,89.55,67,22807,45,1441,1984-01-01,Salaried,2018-08-03,6,1998,1,1,0,0,0,0,0.0,No Bureau History Available,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1984-01,2018-08,35.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(36999.999, 64500.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(84.74, 95.0]",Special (<= 0),"(30.0, 36.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(45343.6, 51303.0]",Special (<= 0)
1,537409,47145.0,65550.0,73.23,67,22807,45,1502,1985-07-31,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,598.0,I-Medium Risk,1.0,1.0,1.0,27600.0,50200.0,50200.0,0.0,0.0,0.0,0.0,0.0,0.0,1991.0,0.0,0.0,1.0,23.0,23.0,0.0,1,1985-07,2018-09,33.0,"(0.999, 2.0]","(13392.8, 42563.2]",Special (<= 0),Special (<= 0),Special (<= 0),"(30000.0, 66000.0]","(30000.0, 64942.4]",Special (<= 0),"(64500.0, 68764.0]","(0.999, 2.0]","(16.0, 26.0]","(0.999, 2.0]",Special (<= 0),"(19.0, 28.0]","(1939.0, 3786.0]","(66.35, 74.24]",Special (<= 0),"(30.0, 36.0]",Special (<= 0),"(0.999, 20.0]",Special (<= 0),Special (<= 0),"(45343.6, 51303.0]","(368.0, 628.0]"
2,417566,53278.0,61360.0,89.63,67,22807,45,1497,1985-08-24,Self employed,2018-08-01,6,1998,1,1,0,0,0,0,0.0,No Bureau History Available,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1985-08,2018-08,33.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(36999.999, 64500.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(84.74, 95.0]",Special (<= 0),"(30.0, 36.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(51303.0, 56195.6]",Special (<= 0)
3,624493,57513.0,66113.0,88.48,67,22807,45,1501,1993-12-30,Self employed,2018-10-26,6,1998,1,1,0,0,0,0,305.0,L-Very High Risk,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0,8.0,15.0,1.0,1,1993-12,2018-10,25.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(0.999, 2.0]",Special (<= 0),Special (<= 0),Special (<= 0),"(64500.0, 68764.0]","(2.0, 4.0]","(6.0, 11.0]",Special (<= 0),Special (<= 0),"(9.0, 19.0]","(0.999, 1939.0]","(84.74, 95.0]",Special (<= 0),"(17.999, 25.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(56195.6, 62447.0]","(10.999, 368.0]"
4,539055,52378.0,60300.0,88.39,67,22807,45,1495,1977-12-09,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,0.0,No Bureau History Available,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,1977-12,2018-09,41.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(0.999, 2.0]",Special (<= 0),Special (<= 0),Special (<= 0),"(36999.999, 64500.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(84.74, 95.0]",Special (<= 0),"(36.0, 44.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(51303.0, 56195.6]",Special (<= 0)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,626432,63213.0,105405.0,60.72,34,20700,48,1050,1988-08-01,Salaried,2018-10-26,6,3705,1,0,0,1,0,0,735.0,D-Very Low Risk,4.0,3.0,0.0,390443.0,416133.0,416133.0,0.0,0.0,0.0,0.0,0.0,0.0,4084.0,0.0,0.0,0.0,21.0,39.0,0.0,0,1988-08,2018-10,30.0,Special (<= 0),"(116030.4, 449238.8]",Special (<= 0),Special (<= 0),Special (<= 0),"(172163.0, 580000.0]","(170000.0, 578353.8]",Special (<= 0),"(83091.4, 1628992.0]","(2.0, 4.0]","(16.0, 26.0]","(2.0, 4.0]",Special (<= 0),"(28.0, 49.0]","(3786.0, 8215.0]","(10.029, 66.35]",Special (<= 0),"(25.0, 30.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(62447.0, 990572.0]","(709.0, 762.0]"
233150,606141,73651.0,100600.0,74.95,34,23775,51,990,1988-12-05,Self employed,2018-10-23,6,3705,1,0,0,1,0,0,825.0,A-Very Low Risk,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1565.0,0.0,0.0,0.0,6.0,6.0,0.0,0,1988-12,2018-10,30.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(83091.4, 1628992.0]","(0.999, 2.0]","(0.999, 6.0]",Special (<= 0),Special (<= 0),"(0.999, 9.0]","(0.999, 1939.0]","(74.24, 79.46]",Special (<= 0),"(25.0, 30.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(62447.0, 990572.0]","(762.0, 890.0]"
233151,613658,33484.0,71212.0,48.45,77,22186,86,2299,1976-06-01,Salaried,2018-10-24,4,3479,1,1,0,0,0,0,0.0,No Bureau History Available,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1976-06,2018-10,42.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(68764.0, 73528.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(10.029, 66.35]",Special (<= 0),"(36.0, 44.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(13319.999, 45343.6]",Special (<= 0)
233152,548084,34259.0,73286.0,49.10,77,22186,86,2299,1994-03-26,Salaried,2018-09-29,4,3479,1,1,0,0,0,0,0.0,No Bureau History Available,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1994-03,2018-09,25.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(68764.0, 73528.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(10.029, 66.35]",Special (<= 0),"(17.999, 25.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(13319.999, 45343.6]",Special (<= 0)
233153,630213,75751.0,116009.0,66.81,77,22186,86,2299,1984-02-18,Salaried,2018-10-27,4,3479,1,1,0,0,0,0,0.0,No Bureau History Available,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1984-02,2018-10,35.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(83091.4, 1628992.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(66.35, 74.24]",Special (<= 0),"(30.0, 36.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(62447.0, 990572.0]",Special (<= 0)

### Bivariate Analysis on Binned Columns

In [32]:
binned_cols = [col for col in df.columns if 'binned' in col]

In [33]:
len(binned_cols)

24

In [34]:
overall_bivariate_analysis(df,cat_col_list = binned_cols,target_col = 'loan_default')

loan_default                     0         1
PRI.OVERDUE.ACCTS_binned
(2.0, 25.0]               0.710434  0.289566
(0.999, 2.0]              0.727134  0.272866
Special (<= 0)            0.790177  0.209823
--------------------------------------------------
loan_default                       0         1
PRI.CURRENT.BALANCE_binned
(42563.2, 116030.4]         0.762773  0.237227
(13392.8, 42563.2]          0.770135  0.229865
Special (<= 0)              0.774560  0.225440
(0.999, 13392.8]            0.790078  0.209922
(116030.4, 449238.8]        0.813317  0.186683
(449238.8, 96524920.0]      0.843698  0.156302
--------------------------------------------------
loan_default                       0         1
SEC.CURRENT.BALANCE_binned
(35203.6, 88202.8]          0.770045  0.229955
(9727.6, 35203.6]           0.781818  0.218182
Special (<= 0)              0.782529  0.217471
(0.999, 9727.6]             0.815431  0.184569
(88202.8, 357808.6]         0.834848  0.165152
(357808.6, 36032852.0]      0.851740  0.148260
--------------------------------------------------
loan_default                         0         1
SEC.SANCTIONED.AMOUNT_binned
(51800.0, 124000.0]           0.770360  0.229640
Special (<= 0)                0.782489  0.217511
(28000.0, 51800.0]            0.786577  0.213423
(0.999, 28000.0]              0.813333  0.186667
(124000.0, 464482.0]          0.829759  0.170241
(464482.0, 30000000.0]        0.849866  0.150134
--------------------------------------------------
loan_default                   0         1
NO.OF_INQUIRIES_binned
(2.0, 36.0]             0.679337  0.320663
(0.999, 2.0]            0.749693  0.250307
Special (<= 0)          0.789281  0.210719
--------------------------------------------------
loan_default                         0         1
PRI.SANCTIONED.AMOUNT_binned
(30000.0, 66000.0]            0.765634  0.234366
Special (<= 0)                0.773498  0.226502
(66000.0, 172163.0]           0.775735  0.224265
(0.999, 30000.0]              0.779199  0.220801
(172163.0, 580000.0]          0.811657  0.188343
(580000.0, 1000000000.0]      0.850933  0.149067
--------------------------------------------------
loan_default                        0         1
PRI.DISBURSED.AMOUNT_binned
(30000.0, 64942.4]           0.766774  0.233226
(64942.4, 170000.0]          0.771110  0.228890
Special (<= 0)               0.773661  0.226339
(0.999, 30000.0]             0.783121  0.216879
(170000.0, 578353.8]         0.810280  0.189720
(578353.8, 1000000000.0]     0.850290  0.149710
--------------------------------------------------
loan_default                   0         1
SEC.NO.OF.ACCTS_binned
Special (<= 0)          0.782220  0.217780
(2.0, 3.0]              0.792793  0.207207
(0.999, 2.0]            0.809640  0.190360
(3.0, 52.0]             0.822633  0.177367
--------------------------------------------------
loan_default                 0         1
asset_cost_binned
(83091.4, 1628992.0]  0.768931  0.231069
(73528.0, 83091.4]    0.780068  0.219932
(68764.0, 73528.0]    0.786163  0.213837
(36999.999, 64500.0]  0.787446  0.212554
(64500.0, 68764.0]    0.792038  0.207962
--------------------------------------------------
loan_default                   0         1
PRI.NO.OF.ACCTS_binned
Special (<= 0)          0.768687  0.231313
(0.999, 2.0]            0.781126  0.218874
(2.0, 4.0]              0.801862  0.198138
(4.0, 7.0]              0.808028  0.191972
(7.0, 453.0]            0.824450  0.175550
--------------------------------------------------
loan_default                    0         1
AVERAGE.ACCT.AGE_binned
Special (<= 0)           0.768314  0.231686
(0.999, 6.0]             0.790934  0.209066
(11.0, 16.0]             0.793115  0.206885
(26.0, 369.0]            0.798090  0.201910
(16.0, 26.0]             0.802059  0.197941
(6.0, 11.0]              0.805932  0.194068
--------------------------------------------------
loan_default                    0         1
PRI.ACTIVE.ACCTS_binned
Special (<= 0)           0.773377  0.226623
(0.999, 2.0]             0.784620  0.215380
(2.0, 4.0]               0.804643  0.195357
(4.0, 144.0]             0.843277  0.156723
--------------------------------------------------
loan_default                        0         1
SEC.DISBURSED.AMOUNT_binned
(50000.0, 116134.4]          0.771831  0.228169
Special (<= 0)               0.782489  0.217511
(25000.0, 50000.0]           0.789542  0.210458
(0.999, 25000.0]             0.813922  0.186078
(116134.4, 458845.0]         0.827260  0.172740
(458845.0, 30000000.0]       0.847503  0.152497
--------------------------------------------------
loan_default                         0         1
CREDIT.HISTORY.LENGTH_binned
Special (<= 0)                0.768550  0.231450
(19.0, 28.0]                  0.774481  0.225519
(0.999, 9.0]                  0.786453  0.213547
(28.0, 49.0]                  0.799204  0.200796
(9.0, 19.0]                   0.802011  0.197989
(49.0, 468.0]                 0.826168  0.173832
--------------------------------------------------
loan_default                      0         1
PRIMARY.INSTAL.AMT_binned
(1939.0, 3786.0]           0.764906  0.235094
(0.999, 1939.0]            0.777122  0.222878
Special (<= 0)             0.781327  0.218673
(3786.0, 8215.0]           0.784832  0.215168
(8215.0, 19991.2]          0.791511  0.208489
(19991.2, 25642806.0]      0.813620  0.186380
--------------------------------------------------
loan_default            0         1
ltv_binned
(84.74, 95.0]    0.734307  0.265693
(79.46, 84.74]   0.748319  0.251681
(74.24, 79.46]   0.779511  0.220489
(66.35, 74.24]   0.802428  0.197572
(10.029, 66.35]  0.849898  0.150102
--------------------------------------------------
loan_default                                0         1
NEW.ACCTS.IN.LAST.SIX.MONTHS_binned
Special (<= 0)                       0.775849  0.224151
(0.999, 2.0]                         0.804054  0.195946
(2.0, 35.0]                          0.826703  0.173297
--------------------------------------------------
loan_default           0         1
age_binned
(17.999, 25.0]  0.760399  0.239601
(25.0, 30.0]    0.775945  0.224055
(30.0, 36.0]    0.786021  0.213979
(36.0, 44.0]    0.793971  0.206029
(44.0, 69.0]    0.801867  0.198133
--------------------------------------------------
loan_default                     0         1
SEC.OVERDUE.ACCTS_binned
Special (<= 0)            0.782842  0.217158
(0.999, 8.0]              0.798055  0.201945
--------------------------------------------------
loan_default                                       0         1
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS_binned
(0.999, 20.0]                               0.729101  0.270899
Special (<= 0)                              0.787485  0.212515
--------------------------------------------------
loan_default                    0         1
SEC.ACTIVE.ACCTS_binned
Special (<= 0)           0.782473  0.217527
(2.0, 36.0]              0.798793  0.201207
(0.999, 2.0]             0.812048  0.187952
--------------------------------------------------
loan_default                  0         1
SEC.INSTAL.AMT_binned
Special (<= 0)         0.782655  0.217345
(1750.0, 3046.4]       0.787330  0.212670
(0.999, 1750.0]        0.788764  0.211236
(3046.4, 6753.0]       0.808126  0.191874
(18988.6, 4170901.0]   0.813063  0.186937
(6753.0, 18988.6]      0.860045  0.139955
--------------------------------------------------
loan_default                    0         1
disbursed_amount_binned
(62447.0, 990572.0]      0.741317  0.258683
(56195.6, 62447.0]       0.749782  0.250218
(51303.0, 56195.6]       0.769705  0.230295
(45343.6, 51303.0]       0.807253  0.192747
(13319.999, 45343.6]     0.846090  0.153910
--------------------------------------------------
loan_default                     0         1
PERFORM_CNS.SCORE_binned
(368.0, 628.0]            0.736649  0.263351
(10.999, 368.0]           0.745947  0.254053
Special (<= 0)            0.768687  0.231313
(628.0, 709.0]            0.820612  0.179388
(709.0, 762.0]            0.836491  0.163509
(762.0, 890.0]            0.847584  0.152416
--------------------------------------------------
Cramer's V Strength of Association
SEC.OVERDUE.ACCTS_binned                      0.003
SEC.INSTAL.AMT_binned                         0.009
SEC.ACTIVE.ACCTS_binned                       0.009
SEC.NO.OF.ACCTS_binned                        0.011
SEC.CURRENT.BALANCE_binned                    0.012
SEC.SANCTIONED.AMOUNT_binned                  0.012
SEC.DISBURSED.AMOUNT_binned                   0.012
asset_cost_binned                             0.019
PRIMARY.INSTAL.AMT_binned                     0.023
NEW.ACCTS.IN.LAST.SIX.MONTHS_binned           0.034
age_binned                                    0.035
AVERAGE.ACCT.AGE_binned                       0.038
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS_binned    0.038
PRI.ACTIVE.ACCTS_binned                       0.042
NO.OF_INQUIRIES_binned                        0.044
PRI.NO.OF.ACCTS_binned                        0.045
CREDIT.HISTORY.LENGTH_binned                  0.046
PRI.OVERDUE.ACCTS_binned                      0.049
PRI.CURRENT.BALANCE_binned                    0.052
PRI.DISBURSED.AMOUNT_binned                   0.055
PRI.SANCTIONED.AMOUNT_binned                  0.056
PERFORM_CNS.SCORE_binned                      0.087
disbursed_amount_binned                       0.094
ltv_binned                                    0.100
dtype: float64

## Dividing Variables into Dev, OOS and OOT

In [35]:
df['DisbursalMonth'].value_counts()

DisbursalMonth
2018-10    98364
2018-08    68002
2018-09    66788
Name: count, dtype: int64

In [36]:
df['set'] = np.where(df['DisbursalMonth'] == '2018-10','oot','dev_oos')

In [40]:
# splitting dev-oos into 80/20 ratio
dev, oos = train_test_split(df[df["set"]=="dev_oos"].reset_index(), test_size=0.2)

In [42]:
dev["set"] ="dev"
oos["set"]= "oos"
oot = df[df["set"]=="oot"]
df = pd.concat([dev,oos,oot])

In [43]:
df.head(3)

,index,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,BirthMonth,DisbursalMonth,age,PRI.OVERDUE.ACCTS_binned,PRI.CURRENT.BALANCE_binned,SEC.CURRENT.BALANCE_binned,SEC.SANCTIONED.AMOUNT_binned,NO.OF_INQUIRIES_binned,PRI.SANCTIONED.AMOUNT_binned,PRI.DISBURSED.AMOUNT_binned,SEC.NO.OF.ACCTS_binned,asset_cost_binned,PRI.NO.OF.ACCTS_binned,AVERAGE.ACCT.AGE_binned,PRI.ACTIVE.ACCTS_binned,SEC.DISBURSED.AMOUNT_binned,CREDIT.HISTORY.LENGTH_binned,PRIMARY.INSTAL.AMT_binned,ltv_binned,NEW.ACCTS.IN.LAST.SIX.MONTHS_binned,age_binned,SEC.OVERDUE.ACCTS_binned,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS_binned,SEC.ACTIVE.ACCTS_binned,SEC.INSTAL.AMT_binned,disbursed_amount_binned,PERFORM_CNS.SCORE_binned,set
9003,16010.0,485964,43394.0,63711.0,70.63,18,13968,45,2695,1982-05-14,Salaried,2018-08-31,4,78,1,1,0,0,0,0,738.0,C-Very Low Risk,3.0,2.0,0.0,9641.0,12389.0,12389.0,0.0,0.0,0.0,0.0,0.0,0.0,950.0,0.0,2.0,0.0,3.0,7.0,0.0,0,1982-05,2018-08,36.0,Special (<= 0),"(0.999, 13392.8]",Special (<= 0),Special (<= 0),Special (<= 0),"(0.999, 30000.0]","(0.999, 30000.0]",Special (<= 0),"(36999.999, 64500.0]","(2.0, 4.0]","(0.999, 6.0]","(0.999, 2.0]",Special (<= 0),"(0.999, 9.0]","(0.999, 1939.0]","(66.35, 74.24]","(0.999, 2.0]","(30.0, 36.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(13319.999, 45343.6]","(709.0, 762.0]",dev
3545,6427.0,552282,54313.0,67100.0,83.31,29,22746,86,5898,1992-01-01,Self employed,2018-09-30,3,1622,1,1,0,0,0,0,0.0,No Bureau History Available,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1992-01,2018-09,27.0,Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(64500.0, 68764.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(79.46, 84.74]",Special (<= 0),"(25.0, 30.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(51303.0, 56195.6]",Special (<= 0),dev
78397,133549.0,524442,55559.0,73749.0,76.34,136,23982,86,3738,2071-06-01,Self employed,2018-09-21,8,1304,1,1,0,0,0,0,733.0,D-Very Low Risk,9.0,2.0,0.0,63971.0,150000.0,150000.0,0.0,0.0,0.0,0.0,0.0,0.0,93555.0,0.0,0.0,0.0,9.0,25.0,0.0,0,2071-06,2018-09,47.0,Special (<= 0),"(42563.2, 116030.4]",Special (<= 0),Special (<= 0),Special (<= 0),"(66000.0, 172163.0]","(64942.4, 170000.0]",Special (<= 0),"(73528.0, 83091.4]","(7.0, 453.0]","(6.0, 11.0]","(0.999, 2.0]",Special (<= 0),"(19.0, 28.0]","(19991.2, 25642806.0]","(74.24, 79.46]",Special (<= 0),"(44.0, 69.0]",Special (<= 0),Special (<= 0),Special (<= 0),Special (<= 0),"(51303.0, 56195.6]","(709.0, 762.0]",dev

### Dropping the learned params before model training

In [44]:
learned_cols = [col for col in df.columns if 'binned' in col] + ['BirthMonth','UniqueID','index','Current_pincode_ID','Employee_code_ID']

In [46]:
df.drop(columns=learned_cols,inplace=True)

## Save the Dev, OOS and OOT data sets

In [48]:
for t in ['dev','oos','oot']:
    df[df['set'] == t].to_csv(f'../data/{t}.csv',index=False)